<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Pitlane News</title>
        <meta charset="UTF-8">
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/JsGeneral.js}" type="text/javascript"></script>
            <link th:href="@{/css/EstiloGenerales.css}" rel="stylesheet" />

            <link
                href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
                rel="stylesheet"
                />
            <link
                rel="shortcut icon"
                href="https://i.ibb.co/LgBvJ05/Logo-Peque-o-Fondo.png"
                type="image/x-icon"
                />
    </head>
    <body>
        <header th:fragment="header" class="header">
            <div class="image">
                <img class="img-logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR_C-D0EciULZX9W8BRQyWG2rVY24634dZ42dfb7Gz3FX9pj6J-" alt="Logo">
                    <div class="logo-text">Pitlane News</div>
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/home}" class="active">[[#{header.inicio}]]</a></li>
                    <li><a th:href="@{/transmision/listado}">[[#{header.transmision}]]</a></li>
                    <li><a th:href="@{/calendario/listado}">[[#{header.calendario}]]</a></li>
                    <li><a th:href="@{/noticias/listado}">[[#{header.noticias}]]</a></li>
                    <li><a th:href="@{/foros/listado}">[[#{header.foros}]]</a></li>
                    <li><a th:href="@{/circuitos/listado}" >[[#{header.circuitos}]]</a></li>
                    <li sec:authorize="isAuthenticated()"><a id="btnUsuarios" class="usuarios">[[#{header.usuarios}]]</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/registro/nuevo}">[[#{header.registrar}]]</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">[[#{header.login}]]</a></li>
                    
                    <!<!-- id="btnRegistro" -->
                    <li><a th:href="@{/(lang=es)}">ES</a></li>
                    <li><a th:href="@{/(lang=en)}">EN</a></li>
                </ul>
            </nav>
        </header>
        <footer th:fragment="footer" class="header">
            <p>&copy; 2024 Pitlane News. Todos los derechos reservados.</p>
            <script th:src="@{/js/script.js}" type="text/javascript"></script>
        </footer>
    </body>
</html>