.img-logo {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    object-fit: fill;
    margin-bottom: 10px;
    color: #FFFFFF;
    align-items: center;
    display: flex;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: #ff4500;
    border-bottom: 2px solid #ff4500;
}

nav .buttons {
    margin-left: 20px;
}

nav .buttons {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav .buttons .sign-up:hover {
    background-color: #e63900;
}

main {
    padding: 20px;
}

.trending-news {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-news {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.news-text {
    flex: 2;
}

.news-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.news-text a {
    color: #FF5300;
    text-decoration: none;
    font-weight: bold;
}

.news-text a:hover {
    text-decoration: underline;
}

.news-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.news-image img {
    max-width: 100%;
    height: auto;
}

.div-noticiaprincipal {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 30%;
}

.div-noticiaprincipal h2 {
    font-size: 20px;
}

.news-container h3{
    font-size: 10px;
    color: #FF5300;
}

.trending-news {
    color: #ff5300;
    font-size: 8px;
}

.trending-news .image img {
    max-width: 100%;
    height: auto;
}

.news-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.news-summary article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.news-summary article h3 {
    margin-top: 0;
}

.news-summary article p {
    margin: 0 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media img {
    height: 20px;
}

.logo-text {
    font-size: 30px;
    margin-left: 10px;
}

.image {
    display: flex;
    align-items: center;
}